.blog__header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem; //top right bottom left
}

.blog__header__btn__active {
  background-color: lighten($color: $primary, $amount: 4);
}
