.blog__header {
  background-color: $primary;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px; //top right bottom left
}

.blog__header__btn__active {
  background-color: lighten($color: $primary, $amount: 4);
}
