.blog__header {
  align-items: center;
  background-color: $primary;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px 10px 20px; //top right bottom left
  width: 100%;
}

.blog__header_s1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.blog__header_s1_menu-icon {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.blog__header_s2 {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.blog__header_s3_socialm {
  color: white;
  cursor: pointer;
  margin: 0px 10px;
  height: 30px;
  width: 30px;
  display: none;
}

.blog__header__btn__active {
  background-color: lighten($color: $primary, $amount: 4);
}

.menu-active {
  height: 100vh;
  display: flex;
  position: fixed;
  padding: 10px 20px 90px 20px; //top right bottom left

  .blog__header_s2 {
    display: flex;
  }

  .blog__header_s3_socialm {
    display: inline;
  }
}
