.blog__footer {
  background-color: lighten($color: $primary, $amount: 10);
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px 20px;
}

.blog__footer__div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog__footer__div h1 {
  margin-right: 10px;
}

.blog__footer__social__media {
  width: 32px;
  height: 32px;
}

.blog__footer__div__copyrigth {
  display: flex;
  align-items: center;
}
