//Section1

.blog__screen__s1 {
  background: url(../../assets/butterfly.jpeg) center center/cover no-repeat;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  object-fit: contain;
}

.blog__screen__s1 h1 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.blog__screen__s1 p {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

//Section2

.blog__screen__s2 {
  padding: 0px 10px 0px;
  margin-top: 40px;
  text-align: center;
}

.blog__screen__s2 q {
  font-size: 2rem;
  color: $primary;
  text-transform: uppercase;
  margin: auto;
}

//Section3

.blog__screen__s3 {
  display: flex;
  padding: 0px 5px 0px;
  margin-top: 40px;
  justify-content: center;
}

.blog__screen__s3 img {
  width: 300px;
  height: 500px;
}

.blog__screen__s3__div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 40px;
  max-width: 700px;
}

.blog__screen__s3__div h3 {
  font-size: 40px;
  text-align: right;
}

.blog__screen__s3__div p {
  font-size: 20px;
  text-align: justify;
}

//Section four

.home-screen__s__four {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0px 100px 0px;
}

.home-screen__s__four__main {
  align-items: center;
  background-color: lighten($color: $secondary, $amount: 20);
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px;
  width: 1000px;
}

.home-screen__s__four__main__title {
  font-size: 3.5rem;
}

.home-screen__s__four__social a {
  color: white;
}

.home-screen__s__four__social ul {
  display: flex;
  flex-direction: row;
}

.home-screen__s__four__social__icon {
  width: 48px;
  height: 48px;
  margin: 20px 20px 0px;
}

@media screen and (min-width: 768px) {
  .blog__screen__s1 h1 {
    font-size: 4.5rem;
  }
  .blog__screen__s1 p {
    font-size: 4rem;
  }
}
