//Section1

.home-screen__s__one {
  padding: 40px 100px 0px; //Top - (left & right) - bottom
  display: flex;
  justify-content: center;
}

.home-screen__s__one img {
  width: 300px;
  height: 500px;
  margin-right: 40px;
}

.home-screen__s__one__div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 700px;
}

.home-screen__s__one__div button {
  background-color: $secondary;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: white, $amount: 100);
  }
}

.home-screen__s__one h1 {
  font-size: 40px;
  text-align: right;
}

.home-screen__s__one p {
  font-size: 20px;
  text-align: right;
}

//Section2

.home-screen__s__two {
  padding: 0px 100px 0px;
  margin-top: 40px;
  text-align: center;
}

.home-screen__s__two q {
  font-size: 3rem;
  color: $primary;
  text-transform: uppercase;
  margin: auto;
}

//Section3

.home-screen__s__three {
  display: flex;
  padding: 0px 100px 0px;
  margin-top: 40px;
  justify-content: center;
}

.home-screen__s__three img {
  width: 300px;
  height: 500px;
}

.home-screen__s__three__div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 40px;
  max-width: 700px;
}

.home-screen__s__three__div h3 {
  font-size: 40px;
  text-align: right;
}

.home-screen__s__three__div p {
  font-size: 20px;
  text-align: justify;
}
