* {
  margin: 0px; //Quita los bordes que el navegador trae por defecto
  box-sizing: border-box; //Ayuda a recalcular el width de un elemento restandole el padding/border para que no se salga del navegador, evita scroll horizontal
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%; //1rem = 10px
}

// .blog__main__content {
//   // display: none;
//   // min-height: calc(
//   //   100vh - 80px - 60px - 40px
//   // ); //el contenido principal ocupa el 100% de viewport height y se le resta 80px del heigth footer - 60 del header y 40 del margin top del footer
// }
